<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Potash</title>
    </head>
    <body>
        <%@include file="navigation.html"%>

        <h1 id="Potash">Potash</h1>

        <p>
            <small>Sourced from Wikipedia, the free encyclopedia article on <a
                    href="https://en.wikipedia.org/wiki/Potash">potash</a></small>
        </p>


        <a href="https://www.britannica.com/science/potash"><img
                src="https://amedia.britannica.com/700x450/91/138791-004-3D622A29.jpg" width="400" height="400"></a>


        <a href="#Terminology">Terminology</a>
        <a href="#Production">Production</a>


        <p><strong>Potash</strong> is any of various mined and manufactured salts that contain potassium in
            water-soluble form. The name derives from <em>pot ash</em>, which refers to plant ashes soaked in water in a
            pot, the primary means of manufacturing the product before the industrial era. The word potassium is derived
            from potash.</p>

        <p>Potash is produced worldwide at amounts exceeding 30 million tonnes per year, mostly for use in fertilizers.
            Various types of fertilizer-potash thus constitute the single largest global industrial use of the element
            potassium. Potassium was first derived by electrolysis of caustic potash (a.k.a. potassium hydroxide), in
            1807.</p>


        <hr>

        <h2 id="Terminology">Terminology</h2>

        <p>Potash refers to potassium compounds and potassium-bearing materials, the most common being potassium
            chloride (KCl). The term potash comes from the Middle Dutch word potaschen (<em>pot ashes</em>, 1477). </p>

        <p>The old method of making <a href="https://en.wikipedia.org/wiki/Potassium_carbonate">potassium carbonate</a>
            (K<sub>2</sub>CO<sub>3</sub>) was by collecting or producing wood ash (an occupation carried out by ash
            burners), leaching the ashes and then evaporating the resulting solution in large iron pots, leaving a white
            residue called pot ash. Approximately 10% by weight of common wood ash can be recovered as pot ash. Later,
            <em>potash</em> became the term widely applied to naturally occurring potassium salts and the commercial
            product derived from them.</p>

        <a href="#Potash">Return to Top></a>
        <hr>

        <h2 id="Production">Production</h2>

        <a>All commercial potash deposits come originally from <a
                href="https://dictionary.cambridge.org/dictionary/english/evaporite">evaporite</a> deposits and are
            often buried deep below the earth's surface. Potash ores are typically rich in potassium chloride (KCl) and
            sodium chloride (NaCl) and are typically obtained by conventional shaft mining with the extracted ore ground
            into a powder. Other methods include <a
                    href="https://dictionary.cambridge.org/dictionary/english/dissolution">dissolution</a> mining and
            evaporation methods from brines.

            <p>In the evaporation method hot water is injected into the potash which is dissolved and then pumped to the
                surface where it is concentrated by solar induced evaporation. Amine <a
                        href="https://dictionary.cambridge.org/dictionary/english/reagent">reagents</a> are then added
                to either the mined or evaporated solutions. The amine coats the KCl but not NaCl. Air bubbles cling to
                the amine + KCl and float it to the surface while the NaCl and clay sink to the bottom. The surface is
                skimmed for the amine + KCl which is then dried and packaged for use as a K rich fertilizer - KCl
                dissolves readily in water and is available quickly for plant nutrition.

            <p>Potash deposits can be found all over the world, at present deposits are being mined in Canada, Russia,
                China, Belarus, Israel, Germany, Chile, United States, Jordan, Spain, United Kingdom, Uzbekistan and
                Brazil.


                <a href="#Potash">Return to Top></a>
    </body>
</html>
